body {
    margin: 0;
    padding: 0;
    background: url('https://imgs.search.brave.com/CpJmxgKSTAuvUkg2XQHhpKhvAfg-HwSmI9ryaiXdweQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZWZp/bmljaW9uLmRlL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDExLzA5/L2xhZHJvbi0xLmpw/Zw') center center fixed;
    background-size: cover;
}

.Titulo {
    text-shadow: 1px  0px 0px black,
                0px  1px 0px black,
                -1px  0px 0px black,
                0px -1px 0px black;
}
.navbar-nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: white;
}